API_CORS_ORIGINS=http://localhost:3000
API_HOST=library-api
BACKEND_LOG_MAX_FILE=3
BACKEND_LOG_MAX_SIZE=10m
API_PATH=/api
API_PORT=8000
DB_HOST=library_db
DB_NAME=library
DB_PASSWORD=REPLACE_ME
DB_PORT=5432
DB_TYPE=postgresql+asyncpg
DB_USER=my_admin
LOG_LEVEL=INFO
PYTHON_VERSION=3.14.3
UI_HOST=next
UI_PATH=/
UI_PORT=3000
